[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
pymysql = "*"
python-dotenv = "*"
flask-security-too = "*"
Werkzeug = "2.3"

[dev-packages]

[requires]
python_version = "3.11"
