blinker
cffi
click
cryptography
Flask
Flask-Login
Flask-SQLAlchemy
Flask-WTF
greenlet
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
mysql-connector-python
protobuf
pycparser
PyMySQL
python-dotenv
SQLAlchemy
typing_extensions
Werkzeug
WTForms
zipp